/* reset.ccss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
article,
aside,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
body {
	color: #333;
}
#wrapper {
	width: 720px;
	margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
	color: black;
}
h1 {
	font-size: 24pt;
}
h2 {
	font-size: 18pt;
	margin-top: 15px;
}
h3 {
	font-size: 14pt;
	margin-top: 10px;
}
h4 {
	font-size: 13pt;
	margin-top: 5px;
}
p {
	margin-top: 5px;
}
pre {
	padding: 5px;
}