@font-face {
	font-family: 'Insolent';
	src: url('insolent-webfont.eot');
	src: local('Insolent'), local('Insolent'), url('insolent-webfont.woff') format('woff'), url('insolent-webfont.ttf') format('truetype'), url('insolent-webfont.svg#webfontoIxLbMJa') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* reset.ccss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
article,
aside,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
	color: black;
	text-shadow: 0 2px 0 #EEE;
}
h1,
h2,
h3,
h4 {
	font-family: 'Insolent', sans-serif;
	font-weight: normal;
}
h1 {
	font-size: 20pt;
}
h2 {
	font-size: 18pt;
	margin-top: 15px;
}
h3 {
	font-size: 14pt;
	margin-top: 10px;
}
h4 {
	font-size: 13pt;
	margin-top: 5px;
}
p, ul, ol {
	margin-top: 5px;
}
pre {
	padding: 5px;
	white-space: normal;
}
code {
	white-space: pre;
}
a, a:link, a:visited {
	color: #CF4913;
}
a:hover {
	text-decoration: none;
}
ul {
	list-style-type: square;
	margin-left: 20px;
}
body {
	color: #333;
	background-color: #D9D9D9;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	line-height: 16px;
}
header {
	height: 40px;
	line-height: 40px;
	padding: 10px;
	color: white;
	background-color: black;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.07, rgb(51,51,51)),
		color-stop(0.54, rgb(0,0,0))
    );
	background-image: -moz-linear-gradient(
		center top,
		rgb(51,51,51) 7%,
		rgb(0,0,0) 54%
	);
}
header h1 {
	color: white;
	text-shadow: 0 -2px 0 black;
}
header h1 a, header h1 a:link, header h1 a:visited {
	color: #EB7331;
	text-decoration: none;
}
footer {
	font-size: 10px;
	text-align: center;
	height: 14px;
	line-height: 14px;
	padding: 10px 5px;
	color: #DDD;
	background-color: black;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.07, rgb(51,51,51)),
		color-stop(0.54, rgb(0,0,0))
    );
	background-image: -moz-linear-gradient(
		center top,
		rgb(51,51,51) 7%,
		rgb(0,0,0) 54%
	);
	box-shadow: 0 -5px 5px rgba(100,100,100,.4);
	-webkit-box-shadow: 0 -5px 5px rgba(100,100,100,.4);
	-moz-box-shadow: 0 -5px 5px rgba(100,100,100,.4);
}
footer a, footer a:link, footer a:visited {
	color: white;
}
#main {
	width: 720px;
	margin: 20px auto;
}
#main p {
	text-align: justify;
}
#menu {
	line-height: 30px;
	height: 30px;
	font-weight: bold;
	background-color: #CCC;

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(232,232,232)),
		color-stop(1, rgb(187,187,187))
    );
	background-image: -moz-linear-gradient(
		center top,
		rgb(232,232,232) 0%,
		rgb(187,187,187) 100%
	);

	text-shadow: 0 1px 0 #E5E5E5;
}
#menu a {
	display: block;
	float: left;
	margin-left: 10px;
	text-decoration: none;
}
#menu a:hover {
	color: #EB7F45;
}
#breadcrumbs {
	line-height: 20px;
	height: 20px;
	font-size: 10px;
	font-weight: bold;
	color: #444;
	padding-left: 10px;
	background-color: #CCC;

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(232,232,232)),
		color-stop(1, rgb(187,187,187))
    );
	background-image: -moz-linear-gradient(
		center top,
		rgb(232,232,232) 0%,
		rgb(187,187,187) 100%
	);

	text-shadow: 0 1px 0 #E5E5E5;

	box-shadow: 0 5px 5px rgba(100,100,100,.4);
	-webkit-box-shadow: 0 5px 5px rgba(100,100,100,.4);
	-moz-box-shadow: 0 5px 5px rgba(100,100,100,.4);
}
#breadcrumbs a, #breadcrumbs a:link, #breadcrumbs a:visited {
	color: black;
	text-decoration: none;
}
#breadcrumbs a:before {
	content: '> ';
	font-size: 8px;
	color: #888;
}
#breadcrumbs a:first-child:before {
	content: '';
}
#breadcrumbs a:hover {
	color: #666;
}
#slideshow {
	position: relative;
	float: right;
	width: 320px;
	height: 200px;
	margin: 0 0 5px 20px;
}
#slideshow img {
	position: absolute;
	top: 0;
	left: 0;
}