<html>
	<head>
		<title>{{ page.title }} - GMenu2X</title>
		<link rel="stylesheet" href="/gmenu2x/css/style.css" type="text/css" />

		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="author" content="Massimiliano Torromeo" />
	</head>
	<body>
		<header>
			<h1>{{ page.title }}</h1>
		</header>
		<section id="main">{{ content }}</section>
		<footer>{{ site.time | date: "%Y" }} &mdash; <a href="&#109;&#97;&#x69;&#x6c;&#116;&#111;&#x3a;&#x6d;&#x61;&#115;&#x73;&#x69;&#109;&#105;&#x6c;&#105;&#x61;&#110;&#x6f;&#x2e;&#116;&#x6f;&#x72;&#114;&#x6f;&#x6d;&#x65;&#x6f;&#64;&#x67;&#109;&#97;&#105;&#x6c;&#x2e;&#99;&#111;&#109;">Massimiliano Torromeo</a></footer>
	</body>
</html>