<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }} - GMenu2X</title>
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="/gmenu2x/css/style.css" type="text/css" />

		<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8">
		<meta name="author" content="Massimiliano Torromeo" />
		<meta name="google-site-verification" content="CbIicYgMeEx7jyd-95_CpzH1D-dpRjeLIrN85giVyMA" />

		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-2347019-6']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>
		<a href="http://github.com/mtorromeo/gmenu2x"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub" /></a>
		<header>
			<h1><a href="/gmenu2x/index.html">GMenu2X</a> - {{ page.title }}</h1>
		</header>
		<nav id="menu">
			<a href="/gmenu2x/">Home</a>
			<a href="/gmenu2x/documentation/">Documentation</a>
			<a href="/gmenu2x/troubleshooting.html">Troubleshooting</a>
		</nav>
		<nav id="breadcrumbs">
			<a href="/gmenu2x/">Home</a>
			{% if page.parent %}
				<a href="/gmenu2x/{{ page.parent.url }}">{{ page.parent.title }}</a>
			{% endif %}
			{% if page.url != '/index.html' %}
				<a href="/gmenu2x{{ page.url }}">{{ page.title }}</a>
			{% endif %}
		</nav>
		<section id="main">{{ content }}</section>
		<footer>{{ site.time | date: "%Y" }} &mdash; <a href="&#109;&#97;&#x69;&#x6c;&#116;&#111;&#x3a;&#x6d;&#x61;&#115;&#x73;&#x69;&#109;&#105;&#x6c;&#105;&#x61;&#110;&#x6f;&#x2e;&#116;&#x6f;&#x72;&#114;&#x6f;&#x6d;&#x65;&#x6f;&#64;&#x67;&#109;&#97;&#105;&#x6c;&#x2e;&#99;&#111;&#109;">Massimiliano Torromeo</a></footer>

		<script src="http://www.google.com/jsapi?key=ABQIAAAAhliYjbvH13n6EJDPx9D3WhS7pV_IMEZ6_snDFb1sWXjQFLU2lRR_F46ccAQ7hUqtQlvKCRqf3L6lmA" type="text/javascript"></script>
		<script type="text/javascript">google.load("mootools", "1.2");</script>
		<script src="/gmenu2x/javascript/website.js" type="text/javascript"></script>
	</body>
</html>
